<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
<<<<<<< HEAD
    <%= f.text_area :text, rows:6 %>
=======
    <%= f.text_area :text %>
>>>>>>> 21602fb0175e0e431717b3355991dd93be8d275a
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
