<<<<<<< HEAD
<h1>Welcome to My Blog</h1>

<% @posts.each do |post| %>

    <h2><%= link_to post.title, post %></h2>
    <p><%= time_ago_in_words post.created_at %> ago</p>
    <p><%= truncate post.text %></p>
    
    <p>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
    <% end %>

<p><%= link_to 'New Post', new_post_path %></p>
=======
<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.text %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
>>>>>>> 21602fb0175e0e431717b3355991dd93be8d275a
